.brunch {
    font-family: -apple-system, Sans-Serif;
    text-align: center;
    font-size: 10pt;
    color: #3f894a;
}

tbody{
    tr {
        border-bottom: solid;
    }
}

.active {
    color: dodgerblue;
}

.asc:after {
    content: '☝️'
}

.desc:after {
    content: '👇'
}

